<div class="flex justify-center items-start min-h-screen pt-8">
  <div class="card bg-base-100 shadow-xl w-auto" style="width: 32%; max-width: 1280px;">
    <div class="card-body">
      <%= form_with model: @user, url: profile_path, local: true, class: "flex flex-col gap-4 p-4 w-full max-w-lg" do |f| %>
        <h1 class="text-xl font-bold mb-4"><%= t('profiles.show.title') %></h1>
        <!-- Name Label -->
        <div class="chat chat-start flex justify-start">
          <div class="chat-bubble bg-gray-800 text-white p-4 rounded-lg max-w-md">
            <%= f.label :name, class: "form-label" %>
          </div>
        </div>
        <!-- Name -->
        <div class="chat chat-end flex justify-end">
          <div class="chat-bubble bg-blue-600 text-white p-4 rounded-lg max-w-md">
            <%= current_user.name %>
          </div>
        </div>
        <!-- Email Address Label -->
        <div class="chat chat-start flex justify-start">
          <div class="chat-bubble bg-gray-800 text-white p-4 rounded-lg max-w-md">
            <%= f.label :email, class: "form-label" %>
          </div>
        </div>
        <!-- Email Address -->
        <div class="chat chat-end flex justify-end">
          <div class="chat-bubble bg-blue-600 text-white p-4 rounded-lg max-w-md">
            <%= current_user.email %>
          </div>
        </div>
        <!-- Avatar Label -->
        <div class="chat chat-start flex justify-start">
          <div class="chat-bubble bg-gray-800 text-white p-4 rounded-lg max-w-md">
            <%= f.label :avatar, class: "form-label" %>
          </div>
        </div>
        <!-- Avatar Image -->
        <div class="chat chat-end flex justify-end">
          <div class="chat-bubble bg-blue-600 text-white p-4 rounded-lg w-full">
            <%= image_tag current_user.avatar_url, class: 'rounded-circle', size: '100x100' %>
          </div>
        </div>
        <!-- Submit Button -->
        <div class="flex justify-end w-full">
          <%= link_to t('profile.edit'), edit_profile_path, class: "btn btn-primary mt-4" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
