<!-- app/views/makes/index.html.erb -->
<div class="flex justify-center items-start pt-8">
  <div class="w-2/3 text-center">
    <h1 class="text-3xl font-bold mb-4 text-center" style="color: #00BFFF;"><%= t('makes.index') %></h1>

    <br><br>
    <small class="text-gray-500">※上の句のみ、下の句のみ、両方、どれでも投稿できるよ！
      <br>※みんなが作った未完成な名言を完成させよう！
    </small>
    <br><br>

    <div class="flex flex-col items-center space-y-4 mb-4">
      <% if user_signed_in? %>
        <button class="btn btn-primary" onclick="document.getElementById('make_modal').showModal()"><%= t('defaults.create') %></button>
      <% end %>
      <br>
      <div class="flex space-x-4">
        <%= link_to t('makes.first_parts'), first_parts_path, class: 'btn btn-secondary' %>
        <%= link_to t('makes.second_parts'), second_parts_path, class: 'btn btn-secondary' %>
      </div>
    </div>

    <br><br>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <% @makes.each do |make| %>
        <div class="bg-base-100 shadow-xl w-auto my-2 mx-auto" style="width: 100%; max-width: 640px;">
          <div class="card-body">
            <h2 class="text-3xl font-semibold mb-2 text-center">
              <div><%= make.first_part&.content || '' %></div>
              <div><%= make.second_part&.content || '' %></div>
            </h2>

            <div class="user-info flex items-center justify-center mt-4 space-x-4">
              <% if make.first_part && make.second_part && make.first_part.user == make.second_part.user %>
                <div class="avatar">
                  <div class="rounded-full w-10 h-10">
                    <%= image_tag make.first_part.user.avatar.url, class: "rounded-full" %>
                  </div>
                </div>
                <span class="text-sm font-bold"><%= make.first_part.user.name %></span>
              <% else %>
                <% if make.first_part %>
                  <div class="avatar">
                    <div class="rounded-full w-10 h-10">
                      <%= image_tag make.first_part.user.avatar.url, class: "rounded-full" %>
                    </div>
                  </div>
                  <span class="text-sm font-bold mr-4"><%= make.first_part.user.name %></span>
                <% end %>
                <% if make.second_part %>
                  <div class="avatar">
                    <div class="rounded-full w-10 h-10">
                      <%= image_tag make.second_part.user.avatar.url, class: "rounded-full" %>
                    </div>
                  </div>
                  <span class="text-sm font-bold"><%= make.second_part.user.name %></span>
                <% end %>
              <% end %>
            </div>

            <br>
            <div class="mt-4 flex justify-center items-center space-x-4">
              <% if user_signed_in? %>
                <div class="flex space-x-4">
                  <% if make.first_part&.user == current_user || make.second_part&.user == current_user %>
                    <%= link_to t('defaults.show'), make_path(make), class: 'btn btn-secondary' %>
                  <% end %>
                  <% if make.first_part.nil? %>
                    <button class="btn btn-primary" onclick="document.getElementById('first_part_modal_<%= make.id %>').showModal()"><%= t('makes.add_first_part') %></button>
                  <% end %>
                  <% if make.second_part.nil? %>
                    <button class="btn btn-primary" onclick="document.getElementById('second_part_modal_<%= make.id %>').showModal()"><%= t('makes.add_second_part') %></button>
                  <% end %>
                </div>
              <% end %>
              <%= render 'shared/x_button2', { make: make } %>
              <% if user_signed_in? %>
                <div class="ml-auto">
                  <%= render 'like_buttons', { make: make } %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
        <%= render 'first_parts/modal', make: make %>
        <%= render 'second_parts/modal', make: make %>
      <% end %>
    </div>
  <%= paginate @makes%>
  </div>
</div>

<%= render 'makes/new_modal' %>
