<!-- app/views/makes/new.html.erb -->
<br>
<h1 class="text-3xl font-bold mb-4 text-center" style="color: #00BFFF;"><%= t('makes.new.title') %></h1>
<div class="flex justify-center items-center pt-8">
  <div class="w-2/3 text-center">
    <div class="flex flex-col items-center space-y-4 mb-4">

      <small class="text-gray-500">※上の句のみ、下の句のみ、両方、どれでも投稿できるよ！
        <br>※ひとりで投稿する場合は、両方使って投稿しよう!
        <br>

        <div class="flex justify-center item-center pt-8">
          <figure class="w-full sm:w-72">
            <img src="/MOmake.gif" alt="GIF Image" class="rounded-xl w-full h-72 object-cover" />
          </figure>
        </div>
        <br><br>

        <div class="flex flex-col items-center space-y-4 mb-4">
          <button class="btn btn-primary" onclick="document.getElementById('make_modal').showModal()"><%= t('makes.index.create') %></button>
          <br>
          <div class="flex space-x-4">
            <%= link_to t('makes.index.first_parts'), first_parts_path, class: 'btn btn-secondary' %>
            <%= link_to t('makes.index.second_parts'), second_parts_path, class: 'btn btn-secondary' %>
          </div>
        </div>
    </div>
    <br>

    <div class="mt-4">
      <%= link_to t('makes.new.back'), makes_path, class: 'btn btn-secondary' %>
    </div>
    <br><br><br><br>
  </div>
</div>

<%= render 'makes/new_modal' %>
