<br>
<h1 class="text-3xl font-bold mb-4 text-center" style="color: #1E90FF;"><%= t('makes.new.title') %></h1>
<div class="flex justify-center items-center pt-8">
  <div class="w-2/3 text-center">
    <div class="card-body bg-base-100 shadow-xl p-8">

      <h2 class="text-3xl font-semibold mb-2">
        <div><%= @make.first_part&.content || '' %></div>
        <div><%= @make.second_part&.content || '' %></div>
      </h2>

      <div class="user-info flex flex-col items-center mt-4 space-x-4">
        <% if @make.first_part && @make.second_part && @make.first_part.user == @make.second_part.user %>
          <div class="flex items-center space-x-2">
            <div class="avatar">
              <div class="rounded-full w-10 h-10">
                <%= image_tag @make.second_part.user.avatar.url %>
              </div>
            </div>
            <span class="text-sm font-bold"><%= @make.first_part.user.name %></span>
          </div>
        <% else %>
          <% if @make.first_part %>
            <div class="flex items-center space-x-2">
              <div class="avatar">
                <div class="rounded-full w-10 h-10">
                  <%= image_tag @make.first_part.user.avatar.url %>
                </div>
              </div>
              <span class="text-sm font-bold"><%= @make.first_part.user.name %></span>
            </div>
          <% end %>
          <br>
          <% if @make.second_part %>
            <div class="flex items-center space-x-2 mt-2">
              <div class="avatar">
                <div class="rounded-full w-10 h-10">
                  <%= image_tag @make.second_part.user.avatar.url %>
                </div>
              </div>
              <span class="text-sm font-bold"><%= @make.second_part.user.name %></span>
            </div>
          <% end %>
        <% end %>
      </div>

      <div class="actions mt-4">
        <%= render 'like_buttons', { make: @make } %>
        <% if @make.first_part.nil? %>
          <button class="btn btn-primary w-full mt-4" onclick="document.getElementById('first_part_modal_<%= @make.id %>').showModal()">上の句を作る</button>
        <% end %>
        <% if @make.second_part.nil? %>
          <button class="btn btn-primary w-full mt-4" onclick="document.getElementById('second_part_modal_<%= @make.id %>').showModal()">下の句を作る</button>
        <% end %>
        <br><br>
        <%= link_to '作成された名言一覧に戻る', makes_path, class: 'btn btn-secondary w-full' %>
        <br><br>
        <button class="btn btn-secondary w-full" onclick="document.getElementById('edit_modal_<%= @make.id %>').showModal()">編集する</button>
        <br><br>
        <% if @make.first_part && @make.second_part %>
          <%= render 'shared/x_button2', { make: @make } %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- 上の句モーダルをレンダリング -->
<%= render 'first_parts/modal', make: @make %>
<!-- 下の句モーダルをレンダリング -->
<%= render 'second_parts/modal', make: @make %>
<!-- 編集モーダルをレンダリング -->
<%= render 'makes/edit_modal', make: @make %>
