<!-- app/views/makes/show.html.erb -->
<br>
<h1 class="text-3xl font-bold mb-4 text-center"><%= t('makes.new.title') %></h1>
<div class="flex justify-center items-center">
  <div class="card card-compact w-full max-w-lg bg-base-100 shadow-xl p-8">
  <h1 class="text-2xl font-bold mb-4">Make #<%= @make.id %></h1>

    <h2 class="text-xl font-semibold mb-2">
      <%= @make.first_part&.content || '' %> <%= @make.second_part&.content || '' %>
    </h2>

    <div class="user-info flex items-center mt-4 space-x-4">
      <% if @make.first_part && @make.second_part && @make.first_part.user == @make.second_part.user %>
        <div class="avatar">
          <div class="rounded-full w-10 h-10">
            <% if @make.first_part.user.avatar.present? %>
              <%= image_tag @make.first_part.user.avatar.url %>
            <% else %>
              <%= image_tag 'default-avatar.png' %>
            <% end %>
          </div>
        </div>
        <span class="text-sm font-bold"><%= @make.first_part.user.name %></span>
      <% else %>
        <% if @make.first_part %>
          <div class="avatar">
            <div class="rounded-full w-10 h-10">
              <% if @make.first_part.user.avatar.present? %>
                <%= image_tag @make.first_part.user.avatar.url %>
              <% else %>
                <%= image_tag 'default-avatar.png' %>
              <% end %>
            </div>
          </div>
          <span class="text-sm font-bold mr-4"><%= @make.first_part.user.name %></span>
        <% end %>
        <% if @make.second_part %>
          <div class="avatar">
            <div class="rounded-full w-10 h-10">
              <% if @make.second_part.user.avatar.present? %>
                <%= image_tag @make.second_part.user.avatar.url %>
              <% else %>
                <%= image_tag 'default-avatar.png' %>
              <% end %>
            </div>
          </div>
          <span class="text-sm font-bold"><%= @make.second_part.user.name %></span>
        <% end %>
      <% end %>
    </div>

    <div class="actions mt-4">
      <%= link_to '上の句を作る', new_make_first_part_path(@make), class: 'btn btn-primary w-full mt-4' if @make.first_part.nil? %>
      <%= link_to '下の句を作る', new_make_second_part_path(@make), class: 'btn btn-primary w-full mt-4' if @make.second_part.nil? %>
      <br><br>
      <%= link_to '一覧に戻る', makes_path, class: 'btn btn-secondary w-full' %>
      <br><br>
      <%= link_to '編集する', edit_make_path, class: 'btn btn-secondary w-full' %>
    </div>
  </div>
</div>
