<h1>Edit First Part</h1>

<%= form_with(model: [@make, @first_part], url: make_first_part_path(@make), local: true) do |form| %>
  <div class="field">
    <%= form.label :content, "First Part" %>
    <%= form.text_area :content %>
  </div>

  <div class="actions">
    <%= form.submit 'Update First Part', class: 'btn btn-primary' %>
  </div>
<% end %>

<%= link_to 'Back to Make', make_path(@make), class: 'btn btn-secondary' %>
