<!-- app/views/tops/index.html.erb -->
<div class="flex flex-col justify-center items-center min-h-screen pt-8">
  <div class="card card-compact w-96 bg-base-100 shadow-xl text-center">
    <h1 class="text-3xl font-bold mb-4"><%= t('tops.title') %></h1>
    <br>
    <figure><img src="/meigenottertop.webp" alt="Shoes" /></figure>
    <br>
    <div class="card-body">
      <h2 class="card-title justify-center"><%= t('tops.subtitle') %></h2>
      <br>
      <p>AIが名言を提供するよ？<br>
      偉人、有名人、名著、映画、漫画、アニメなど<br>
      様々な作品からの名言や格言を受け取ろう！<br>
      日々の生活において必要な刺激となる言葉を通じて<br>
      心のエネルギーを蓄えよう！</p>
      <%= render 'shared/ai_buttons', fetch_ai: @fetch_ai %>
      <br><br><br><br>
      <h2 class="card-title justify-center">名言おった？</h2>
      <figure class="px-10 pt-10">
        <img src="/IMG_4982.JPG" alt="Shoes" class="rounded-xl w-48 h-48" />
      </figure>
    </div>
  </div>
  <div class="card card-compact w-96 bg-base-100 shadow-xl text-center">
    <br><br>
    <% if user_signed_in? %>
      <h1 class="text-2xl font-bold mb-4">名言の海にようこそ！</h1>
      <br>
      <div class="card-body">
        <h2 class="card-title justify-center">あなたに合った名言を見つけよう！</h2>
        <br>
        <p>プルダウン式の項目から<br>
        気分、予定、どんな名言か<br>
        メジャーなのかマイナーな作品なのか<br>
        偉人、有名人、名著、映画、漫画、アニメなのか<br>
        自分で選択できるよ！</p>
        <div class="card-actions justify-center">
          <%= link_to '名言の海に行く', fetch_ais_path, class: "btn btn-primary mt-4" %>
        </div>
        <br><br>
        <h2 class="card-title justify-center">名言作成！</h2>
        <br>
        <p>自分の好きな名言の作成（投稿）<br>
        誰かと協力しての作成（投稿）<br>
        みんなで名言を共有しよう！</p>
        <div class="card-actions justify-center">
          <%= link_to '名言を作成', makes_path, class: "btn btn-primary mt-4" %>
        </div>
      </div>
    <% else %>
      <h1 class="text-2xl font-bold mb-4">サインインすると...</h1>
      <br>
      <div class="card-body">
        <h2 class="card-title justify-center">今の自分に合った名言がもらえるよ！</h2>
        <br>
        <p>プルダウン式の項目から<br>
        気分、予定、どんな名言か<br>
        メジャーなのかマイナーな作品なのか<br>
        偉人、有名人、名著、映画、漫画、アニメなのか<br>
        自分で選択できるよ！</p>
        <div class="card-actions justify-center">
          <%= link_to t('tops.signup'), new_user_session_path, method: :post, class: "btn btn-primary mt-4" %>
        </div>
        <br><br>
        <h2 class="card-title justify-center">名言作成もできる！</h2>
        <br>
        <p>自分の好きな名言の作成（投稿）<br>
        誰かと協力しての作成（投稿）<br>
        みんなで名言を共有しよう！</p>
        <div class="card-actions justify-center">
          <%= link_to t('tops.signup'), new_user_session_path, method: :post, class: "btn btn-primary mt-4" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
