<!-- app/views/shared/_ai_buttons.html.erb -->
<% if user_signed_in? %>

  <div class="card-actions justify-center">
    <%= button_to t('fetch_ais.get'), fetch_ais_path, method: :post, class: "btn btn-primary mt-4 w-full max-w-xs" %>
  </div>
  <p class="py-4">※ランダムに名言を提供するよ</p>
  <br>

  <div class="card-actions justify-center">
    <button class="btn btn-primary mt-4 w-auto" onclick="document.getElementById('my_modal_2').showModal()"><%= t('fetch_ais.custom_get') %></button>
  </div>
  <p class="py-4">※指定した条件に合った名言を提供するよ</p>

  <dialog id="my_modal_2" class="modal">
    <div class="modal-box text-center">
      <form method="dialog">
        <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
      </form>
      <h3 class="font-bold text-lg">条件を決めよう</h3>
      <p class="py-4">セレクトボックスから適当なものを選んでください</p>
      <%= form_with model: @fetch_ai, local: true, id: "personalize_form" do |form| %>
        <%= form.hidden_field :prompt_type, value: 'personalized' %>
        <div class="mb-3 text-center">
          <%= form.label :mood, class: "form-label block mb-2 text-sm font-bold" %>
          <%= form.select :mood, options_for_select(["普通", "楽しい", "元気", "落ち気味", "悲しい", "イライラ"], @fetch_ai.mood), {}, {class: "select select-bordered w-full max-w-xs"} %>
        </div>
        <div class="mb-3 text-center">
          <%= form.label :schedule, class: "form-label block mb-2 text-sm font-bold" %>
          <%= form.select :schedule, options_for_select(["仕事", "学習", "健康の事", "家庭の事", "趣味", "自己に関わること"], @fetch_ai.schedule), {}, {class: "select select-bordered w-full max-w-xs"} %>
        </div>
        <div class="mb-3 text-center">
          <%= form.label :how, class: "form-label block mb-2 text-sm font-bold" %>
          <%= form.select :how, options_for_select(["心に刺さる名言", "心に寄り添う名言", "クスっと笑ってしまう名言", "厳しい名言", "恋愛に関する名言", "人生に関する名言"], @fetch_ai.how), {}, {class: "select select-bordered w-full max-w-xs"} %>
        </div>
        <div class="mb-3 text-center">
          <%= form.label :popularity, class: "form-label block mb-2 text-sm font-bold" %>
          <%= form.select :popularity, options_for_select(["メジャーな", "マイナーな", "メジャーでもマイナーでもないような"], @fetch_ai.popularity), {}, {class: "select select-bordered w-full max-w-xs"} %>
        </div>
        <div class="mb-3 text-center">
          <%= form.label :quote_type, class: "form-label block mb-2 text-sm font-bold" %>
          <%= form.select :quote_type, options_for_select(["漫画", "映画", "アニメ", "書籍", "偉人", "有名人"], @fetch_ai.quote_type), {}, {class: "select select-bordered w-full max-w-xs"} %>
        </div>
        <div class="modal-action justify-center">
          <%= form.submit t('fetch_ais.getter'), class: "btn btn-primary mt-4 w-full max-w-xs" %>
        </div>
      <% end %>
    </div>
  </dialog>

<!-- yuriraccoモーダル -->
<dialog id="loading_modal" class="modal flex items-center justify-center">
  <div class="modal-box text-center flex flex-col items-center justify-center">
    <figure class="flex items-center justify-center">
      <img src="/20240514_151628.GIF" alt="Shoes" class="rounded-xl w-48 h-48" />
    </figure>
  </div>
</dialog>

<% else %>
  <div class="card-actions justify-center">
    <%= button_to t('fetch_ais.get'), fetch_ais_path, method: :post, class: "btn btn-primary mt-4 w-full max-w-xs" %>
  </div>
<% end %>
