<header class="w-full navbar bg-neutral h-16">
  <div class="flex justify-between items-center w-full h-full">
    <!-- 左にロゴ -->
    <div class="h-full flex-shrink-0">
      <a href="<%= root_path %>" class="btn btn-ghost h-full flex items-center hover:bg-primary dark:hover:bg-primary">
        <%= image_tag '/LMO.png', alt: 'Logo', style: 'height: 100%; max-height: 100%;' %> <!-- 画像の高さを設定 -->
      </a>
    </div>

    <!-- 右にハンバーガー -->
    <div class="dropdown dropdown-end flex-none">
      <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar h-full flex items-center hover:bg-primary dark:hover:bg-primary">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-5 h-5 stroke-current">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
        </svg>
      </div>
      <ul tabindex="0" class="menu dropdown-content z-[1] p-2 shadow bg-base-300 rounded-box w-52 mt-4">
        <li>
          <%= link_to t('header.signup'), new_user_registration_path, class: "btn btn-ghost hover:bg-primary dark:hover:bg-primary focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2 dark:focus:ring-gray-800" %>
        </li>
        <li>
          <%= link_to t('header.signin'), new_user_session_path, class: "btn btn-ghost hover:bg-primary dark:hover:bg-primary focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2 dark:focus:ring-gray-800" %>
        </li>
        <li>
          <%= link_to t('header.ai'), new_fetch_ai_path, class: "btn btn-ghost hover:bg-primary focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2 dark:hover:bg-primary dark:focus:ring-gray-800" %>
        </li>
      </ul>
    </div>
  </div>
</header>
