<!-- app/views/mypages/index.html.erb -->
<% if user_signed_in? %>
  <div class="flex justify-center items-start min-h-screen pt-8">
    <div class="w-full md:w-2/3 text-center mx-4 sm:mx-8">
      <h1 class="text-3xl font-bold mb-4 text-center" style="color: #1E90FF;"><%= t('mypages.title') %></h1>
      <br>
      <div class="flex-grow container mx-auto px-6 py-5 text-park" data-controller="tabs">
        <div class="tabs border-b border-park flex">
          <button class="tab pl-3 rounded-lg tab-active text-xs sm:text-base" data-action="tabs#showProfile" data-tabs-target="profile" data-url="<%= mypage_profile_path %>"><i class="fa-solid fa-user"></i><%= t('mypages.profile') %></button>
          <button class="tab pl-3 rounded-lg text-xs sm:text-base" data-action="tabs#showAi" data-tabs-target="ai" data-url="<%= mypage_ai_path %>"><i class="fa-solid fa-robot"></i><%= t('mypages.ai') %></button>
          <button class="tab pl-3 rounded-lg text-xs sm:text-base" data-action="tabs#showMakes" data-tabs-target="makes" data-url="<%= mypage_makes_path %>"><i class="fa-solid fa-pen-to-square"></i></i><%= t('mypages.makes') %></button>
          <button class="tab pl-3 rounded-lg text-xs sm:text-base" data-action="tabs#showLikes" data-tabs-target="likes" data-url="<%= mypage_likes_path %>"><i class="fa-solid fa-star"></i><%= t('mypages.likes') %></button>
        </div>
        <div data-tabs-target="content"></div>
      </div>
    </div>
  </div>
<% else %>
  <p>サインインしてください。</p>
<% end %>
