<!-- app/views/fetch_ais/edit.html.erb -->
<% if user_signed_in? %>
  <div class="flex justify-center items-start min-h-screen pt-8">
    <div class="w-2/3 text-center">
      <h1 class="text-3xl font-bold mb-4 text-center" style="color: #00BFFF;"><%= t('fetch_ais.edit.title') %></h1>
      
      <div class="card-body">
        <% if @fetch_ai.response.present? %>
          <% quote = @fetch_ai.response.match(/<quote>(.*?)<\/quote>/m)[1].strip rescue nil %>
          <% info = @fetch_ai.response.match(/<info>(.*?)<\/info>/m)[1].strip rescue nil %>

          <% if quote %>
            <div class="bg-base-100 shadow-xl w-auto my-2 mx-auto" style="width: 100%; max-width: 640px;">
              <div class="card-body">
                <div class="chat chat-start flex justify-start mb-4">
                  <div class="chat-bubble bg-neutral p-4 rounded-lg max-w-md text-2xl" style="text-align: left; font-weight: bold;">
                    <%= quote %>
                  </div>
                </div>

                <% if info %>
                  <div class="chat chat-start flex justify-start mb-4">
                    <div class="chat-bubble bg-neutral p-4 rounded-lg max-w-md text-xs" style="text-align: left; font-weight: normal; font-size: 0.75rem;">
                      <%= info %>
                    </div>
                  </div>
                <% end %>

                <div class="chat chat-end flex justify-end">
                  <div class="chat-bubble bg-secondary text-white p-4 rounded-lg max-w-md text-left">
                    <div class="mt-4">
                      <%= link_to '戻る', fetch_ai_path(@fetch_ai), class: 'btn btn-neutral flex items-center justify-center gap-2 mt-2' %>
                      <br>
                      <%= button_to '削除', fetch_ai_path(@fetch_ai), method: :delete, data: { confirm: '本当に削除しますか？' }, class: "btn btn-info" %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% else %>
  <p>サインインしてください。</p>
<% end %>
