<!-- app/views/fetch_ais/index.html.erb -->
<% if user_signed_in? %>
  <div class="flex justify-center items-start min-h-screen pt-8">
    <div class="card card-compact w-96 bg-base-100 shadow-xl text-center">
      <%= render 'shared/ai_buttons', fetch_ai: @fetch_ai %>
      <br><br>
      <h1 class="text-3xl font-bold mb-4 text-center"><%= t('fetch_ais.index.title') %></h1>
      <div class="card-body">
        <% @fetch_ais.each do |fetch_ai| %>
          <% if fetch_ai.response.present? %>
            <div class="card bg-base-100 shadow-xl w-auto my-2 mx-auto" style="width: 100%; max-width: 640px;">
              <div class="card-body">
                <!-- AI response -->
                <% quote = fetch_ai.response.match(/<quote>(.*?)<\/quote>/m)[1].strip rescue nil %>
                <% info = fetch_ai.response.match(/<info>(.*?)<\/info>/m)[1].strip rescue nil %>
                
                <% if quote %>
                  <div class="chat chat-start flex justify-start mb-4">
                    <div class="chat-bubble bg-gray-800 text-white p-4 rounded-lg max-w-md" style="text-align: left; font-weight: bold;">
                      <%= quote %>
                    </div>
                  </div>
                <% end %>

                <% if info %>
                  <div class="chat chat-start flex justify-start mb-4">
                    <div class="chat-bubble bg-gray-800 text-white p-4 rounded-lg max-w-md" style="text-align: left; font-weight: normal;">
                      <%= info %>
                    </div>
                  </div>
                <% end %>

                <!-- share, delete, and show details -->
                <div class="chat chat-end flex justify-end">
                  <div class="chat-bubble bg-blue-600 text-white p-4 rounded-lg max-w-md text-left">
                    <div class="mt-4">
                      <%= link_to '詳細', fetch_ai_path(fetch_ai), class: 'btn btn-primary flex items-center justify-center gap-2 mt-2' %>
                      <br>
                      <%= link_to "https://twitter.com/share?url=https://wordpass-ldtw.onrender.com&text=今日は〇〇さんに励まされました！%0a%0a#{quote}", target: '_blank', class: "btn btn-info flex items-center justify-center gap-2 mt-2" do %>
                        <i class="fa-brands fa-x-twitter"></i>
                        <span><%= t('fetch_ais.show.share') %></span>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% else %>
  <p>サインインしてください。</p>
<% end %>
