<% if user_signed_in? %>
  <div class="flex justify-center items-center min-h-screen pt-8 flex-col"> <!-- flex-colを追加、items-startをitems-centerに変更 -->
    <h1 class="text-3xl font-bold mb-4 text-center"><%= t('fetch_ais.show.title') %></h1>
    <% @fetch_ais.each do |fetch_ai| %>
      <% if fetch_ai.response.present? %>
        <div class="card bg-base-100 shadow-xl w-auto my-2 mx-auto" style="width: 100%; max-width: 640px;"> <!-- mx-autoでカードを中央に配置 -->
          <div class="card-body">
            <div class="chat chat-start flex justify-start">
              <div class="chat-bubble bg-gray-800 text-white p-4 rounded-lg max-w-md">
                <%= fetch_ai.response %>
              </div>
            </div>
            <div class="chat chat-end flex justify-end"> <!-- justify-endで右に配置 -->
              <div class="chat-bubble bg-blue-600 text-white p-4 rounded-lg max-w-md">
                <%= button_to 'destroy', fetch_ai_path(fetch_ai), method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'btn text-white mt-4', style: 'background-color: #1f2937;' %>
                <div class="mt-4">
                  <%= link_to "https://twitter.com/share?url=https://wordpass-ldtw.onrender.com&text=今日は〇〇さんに励まされました！%0a%0a#{fetch_ai.response}", target: '_blank', class: "btn btn-info flex items-center justify-center gap-2" do %>
                    <i class="fa-brands fa-x-twitter"></i>
                    <span><%= t('fetch_ais.show.share') %></span>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<% else %>
  <p>サインインしてください。</p>
<% end %>
