<div class="flex flex-col items-center">
  <h2 class="text-3xl font-bold mb-4 text-center" style="color: #00BFFF;"><%= t('.forgot_your_password') %></h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "w-full max-w-xs" }) do |f| %>
    <%= render "users/shared/error_messages", resource: resource %>

    <div class="field form-control">
      <%= f.label :email, class: "label" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input input-bordered input-primary w-full" %>
    </div>

    <div class="actions mt-4 flex justify-center">
      <%= f.submit t('.send_me_reset_password_instructions'), class: "btn btn-primary w-auto" %>
    </div>
  <% end %>

  <br>
  <%= render "users/shared/links" %>
</div>
