<h1>Edit Second Part</h1>

<%= form_with(model: [@make, @second_part], url: make_second_part_path(@make), local: true) do |form| %>
  <div class="field">
    <%= form.label :content, "Second Part" %>
    <%= form.text_area :content %>
  </div>

  <div class="actions">
    <%= form.submit 'Update Second Part', class: 'btn btn-primary' %>
  </div>
<% end %>

<%= link_to 'Back to Make', make_path(@make), class: 'btn btn-secondary' %>
