<div class="flex justify-center items-start pt-8">
  <div class="w-full md:w-2/3 text-center mx-4 sm:mx-8">
    <h1 class="text-3xl font-bold mb-4 text-center" style="color: #1E90FF;"><%= t('defaults.second_part') %></h1>
    <br>

    <div class="mt-4">
      <%= link_to t('defaults.back'), makes_path, class: 'btn btn-secondary' %>
    </div>
    <br><br>
    <% @second_parts.each do |second_part| %>
      <div class="bg-base-100 shadow-xl w-auto my-2 mx-auto" style="width: 100%; max-width: 640px;">
        <div class="card-body">
          <h2 class="text-3xl font-semibold mb-2 text-center">
            <%= second_part.content %>
          </h2>

          <div class="user-info flex items-center justify-center mt-4 space-x-4">
            <div class="avatar">
              <div class="rounded-full w-10 h-10">
                <%= image_tag second_part.user.avatar.url, class: "rounded-full" %>
              </div>
            </div>
            <span class="text-sm font-bold"><%= second_part.user.name %></span>
          </div>

          <br>
          <div class="mt-4 flex justify-center space-x-4">
            <% if user_signed_in? %>
              <button class="btn btn-primary" onclick="document.getElementById('first_part_modal_<%= second_part.make.id %>').showModal()"><%= t('makes.add_first_part') %></button>
            <% end %>
          </div>
          <%= paginate @second_parts%>
        </div>
      </div>
      <!-- モーダルをレンダリング -->
      <%= render 'first_parts/modal', make: second_part.make %>
    <% end %>
  </div>
</div>
