<!DOCTYPE html>
<html lang="en" data-theme="meigenotter">
  <head>
    <title>Wordpass</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <!-- OGP -->
    <%= display_meta_tags(default_meta_tags) %>
    <!-- Font Awesome CDN -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" rel="stylesheet">
  </head>
  <body class="flex flex-col min-h-screen">
    <% if user_signed_in? %>
      <%= render 'shared/header' %>
    <% else %>
      <%= render 'shared/before_signin_header' %>
    <% end %>
    <div class="flex-grow">
      <%= render 'shared/flash_message' %>
      <%= yield %>
    </div>
    <%= render 'shared/footer' %>
  </body>
</html>
