<!DOCTYPE html>
<html lang="en" data-theme="meigenotter">
  <head>
    <title>Wordpass</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <!-- OGP -->
    <%= display_meta_tags(default_meta_tags) %>
    <!-- Font Awesome CDN -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" rel="stylesheet">
    <!-- Favicon -->
    <%= favicon_link_tag 'favicon.ico' %>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-43FQ59KFR8"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-43FQ59KFR8');
    </script>
  </head>
  <body class="flex flex-col min-h-screen font-body">
    <% if user_signed_in? %>
      <%= render 'shared/header' %>
    <% else %>
      <%= render 'shared/before_signin_header' %>
    <% end %>
    <div class="flex-grow pt-16"> <!-- ヘッダーの高さ分だけパディングを追加 -->
      <%= render 'shared/flash_message' %>
      <%= yield %>
    </div>
    <%= render 'shared/footer' %>
  </body>
</html>
